---
---

@import "{{ site.theme }}";

body {
  counter-reset: level1;
}

#content h1 {
  counter-reset: level2;
  background-color: #dddddd
  border: 4px solid #159957;
  padding: 4px;
}

#content h2 {
  counter-reset: level3;
  border-left: 16px solid #159957;
  padding-left: 0.5em;
}

#content h3 {
  counter-reset: level4;
}

#content h1::before {
  counter-increment: level1;
  content: counter(level1) ". ";
}

#content h2::before {
  counter-increment: level2;
  content: counter(level1) "-" counter(level2) ". ";
}

#content h3::before {
  counter-increment: level3;
  content: counter(level1) "-" counter(level2) "-" counter(level3) ". ";
}
