---
---

@import "{{ site.theme }}";

h1 {
  border-left: 8px solid black;
  border-bottom: 4px solid black;
  padding: 4px;
}

h2 {
  border-bottom: 2px double black;
  padding: 2px;
}

h3 {
  border-left: 2px double black;
  padding: 2px;
}
